<%- include('includes/head.ejs') %>
    
    <%- include('includes/navigation.ejs') %>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="">
                                
                                <!--[ Recent Users ] start-->
                                <div class="">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Quản lý món ăn</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--[ Recent Users ] end-->

                                
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <%- include('includes/end.ejs') %>
