<!-- Required Js -->
<script src="/js/admin/vendor-all.min.js"></script>
<script src="https://kit.fontawesome.com/b0b8434f7e.js" crossorigin="anonymous"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/admin/pcoded.min.js"></script>
<!-- Đảm bảo bao gồm thư viện jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Required Js -->

    <!-- chart-morris Js -->
    <script src="/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/js/pages/chart-morris-custom.js"></script>
<script>
    function redirectToBlogDetails() {
        window.location.href = "../blog-details.html";
    }
</script>

</body>
</html>
