<!-- Required Js -->
<script src="/js/admin/vendor-all.min.js"></script>
<script src="https://kit.fontawesome.com/b0b8434f7e.js" crossorigin="anonymous"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/admin/pcoded.min.js"></script>

    <!-- chart-morris Js -->
    <script src="/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/js/admin/pages/chart-morris-custom.js"></script>

</body>
</html>
