<%- include('includes/head.ejs') %>

	<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-center">
				<img src="/images/slider-01.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Chào mừng đến với<br> Ẩm thực Việt</strong></h1>
							<p class="m-b-40">Hãy cùng chúng tôi khám phá hương vị tinh túy của ẩm thực Việt Nam.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/menu">Khám phá ngay</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="/images/slider-02.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Chào mừng đến với<br> Ẩm thực Việt</strong></h1>
							<p class="m-b-40">Gửi gắm tình yêu vào từng món ăn.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/menu">Khám phá ngay</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="/images/slider-03.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Chào mừng đến với<br> Ẩm thực Việt</strong></h1>
							<p class="m-b-40">Hãy bắt đầu hành trình nấu nướng của bạn và thưởng thức những món ăn thơm ngon với chúng tôi!</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/menu">Khám phá ngay</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->
	
	<!-- Start About -->
	<div id="about" class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/about-img.png" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>Chào mừng tới <span>Ẩm thực Việt</span></h1>
						<!-- <h4>Little Story</h4> -->
						<p>Đây là nơi tuyệt vời để khám phá văn hóa ẩm thực phong phú của Việt Nam thông qua các công thức nấu món đặc trưng. Từ những món ăn truyền thống đậm chất dân dã cho đến những món ăn hiện đại mang phong cách sáng tạo, chúng tôi tự hào chia sẻ với bạn những bí quyết để tạo ra những món ăn ngon lành, đậm đà hương vị đặc trưng của Việt Nam.</p>
						<p>Trang web của chúng tôi tập trung vào việc cung cấp những công thức nấu món đơn giản và dễ làm, được trình bày một cách chi tiết và dễ hiểu. Bạn sẽ tìm thấy từ những món chính như phở, bún chả, cơm tấm cho đến những món tráng miệng ngọt ngào như bánh xèo, chè đậu, hay cả những món ăn đặc sản độc đáo của từng vùng miền.</p>
						<p>Ngoài việc chia sẻ công thức, chúng tôi cũng đặc biệt quan tâm đến việc giới thiệu các nguyên liệu cần thiết, kỹ thuật nấu nướng và những lưu ý quan trọng trong quá trình thực hiện mỗi món ăn. Chúng tôi tin rằng bất kỳ ai, dù là người mới bắt đầu hay đã có kinh nghiệm nấu nướng, đều có thể tìm thấy những thông tin hữu ích và trải nghiệm thú vị tại đây.</p>
						<!-- <p>Hãy cùng chúng tôi khám phá hương vị tinh túy của ẩm thực Việt Nam và truyền cảm hứng cho những bữa ăn đặc biệt trong gia đình và bạn bè. Hãy bắt đầu hành trình nấu nướng của bạn và thưởng thức những món ăn thơm ngon với chúng tôi!</p> -->
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="/menu">Khám phá ngay</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->	
	
	<%- include('includes/end.ejs') %>