<%- include('includes/head.ejs') %>

	<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-center">
				<img src="/images/slider-01.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Chào mừng đến với<br> Ẩm thực Việt</strong></h1>
							<p class="m-b-40">Hãy cùng chúng tôi khám phá hương vị tinh túy của ẩm thực Việt Nam.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/menu">Khám phá ngay</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="/images/slider-02.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Chào mừng đến với<br> Ẩm thực Việt</strong></h1>
							<p class="m-b-40">Gửi gắm tình yêu vào từng món ăn.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/menu">Khám phá ngay</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="/images/slider-03.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Chào mừng đến với<br> Ẩm thực Việt</strong></h1>
							<p class="m-b-40">Hãy bắt đầu hành trình nấu nướng của bạn và thưởng thức những món ăn thơm ngon với chúng tôi!</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/menu">Khám phá ngay</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->
	
	<!-- Start About -->
	<div id="about" class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/about-img.png" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>Chào mừng tới <span>Ẩm thực Việt</span></h1>
						<!-- <h4>Little Story</h4> -->
						<br>
						<p>Đây là nơi tuyệt vời để khám phá văn hóa ẩm thực phong phú của Việt Nam thông qua các công thức nấu món đặc trưng. Từ những món ăn truyền thống đậm chất dân dã cho đến những món ăn hiện đại, bạn sẽ có được những bí quyết để tạo ra những món ăn ngon, đậm đà hương vị đặc trưng của Việt Nam.</p>
						<p>Trang web tập trung vào việc cung cấp những công thức nấu món đơn giản và dễ làm, được trình bày một cách ngắn gọn và dễ hiểu. Bạn sẽ tìm thấy từ những món ăn được phân loại theo nguyên liệu như rau, củ, quả, thuỷ sản, gia súc, vv.</p>
						<p>Mọi công thức trên trang web đều được lấy từ cuốn sách "555 Món ăn Việt Nam" của NXB Thống Kê.</p>
						<!-- <p>Hãy cùng chúng tôi khám phá hương vị tinh túy của ẩm thực Việt Nam và truyền cảm hứng cho những bữa ăn đặc biệt trong gia đình và bạn bè. Hãy bắt đầu hành trình nấu nướng của bạn và thưởng thức những món ăn thơm ngon với chúng tôi!</p> -->
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="/menu">Khám phá ngay</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->	
	
	<%- include('includes/end.ejs') %>